import React from 'react'
import './style.scss'

export const {{pascalCase fileName}} = props => {
  const { data } = props

  return (
    <div className='{{dashCase fileName}}-com'>
      {{pascalCase fileName}}
    </div>
  )
}